<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <p style="padding-top: 3%; padding-left: 10%; padding-right: 10%; background-color: #f2f2f2; border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);">Welcome to our football hub, your ultimate destination for all football-related updates. 
      We provide real-time match updates, comprehensive league tables, 
      and a player tracker to follow your favorite players’ stats and market value. 
      Additionally, we offer insightful articles and analysis pieces about ongoing tournaments and leagues. 
      Whether you’re a casual fan or a football fanatic, 
      our website is designed to enhance your football-following experience. Our mission is to connect 
      football fans globally by providing real-time updates, comprehensive stats, and insightful analysis. 
      We aim to enhance the football-following experience for all fans and promote the love of the game through 
      our reliable and engaging platform.
    </p>
    </div>

    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   