<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
    <!--FileName:index.ejs-->
<!-- Student: Sujina Basyal -->
    <!-- Student ID:301281848-->
    <!-- Date: October 3, 2023 -->

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <p style="padding-top: 3%; padding-left: 10%; padding-right: 10%; background-color: #f2f2f2; border-radius: 5px;
    box-shadow: 0 0 10px rgba(114, 209, 216, 0.15);">Welcome to our Art and Craft hub, your ultimate destination for all things creative and imaginative. We are dedicated to fostering your passion for art and craft by providing a wealth of inspiration, guidance, and resources.

Within our virtual haven, you'll discover a treasure trove of artistic updates, from the latest trends to timeless techniques. Our platform offers a canvas of creativity where you can explore various art forms, crafting styles, and DIY projects.

Whether you're a novice looking to dip your brush into the world of art or a seasoned artisan seeking fresh ideas, our website is designed to enrich your artistic journey. We aim to connect artists and crafters worldwide, nurturing creativity and fostering a vibrant community of makers.

Our mission is to be your creative companion, providing a platform that celebrates the love of art and craft. Through our articles, tutorials, and vibrant community, we strive to inspire, educate, and empower artists of all levels. So, let your imagination run wild, and let's embark on a colorful journey together!"






    </p>
    </div>
  
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   