<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
 <!--FileName:services.ejs-->
<!-- Student: Sujina Basyal -->

    <!-- Student ID:301281848 -->
    <!-- Date: October 3, 2023 -->  

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    <h1>Our Services</h1>

    <!-- Service 1 -->
    <div class="service">
        <img src="/img/image4.jpg" alt="Service 1" width="20%" height="20%">
        <h2>Custom Art Portfolio Website Development</h2>
        <p>We specialize in building personalized art portfolio websites for artists and crafters. Our expert developers will create a stunning and user-friendly website to showcase your work. You can easily upload images of your art, provide descriptions, and even sell your creations online. We ensure that your online portfolio reflects your unique style and helps you reach a broader audience.</p>
    </div>

    <!-- Service 2 -->
    <div class="service">
        <img src="/img/image5.jpg" alt="Service 2" width="20%" height="20%">
        <h2>Art and Craft Marketplace App Development</h2>
        <p>If you want to create an online marketplace for artists and crafters to sell their products, we've got you covered. Our team can develop a feature-rich marketplace app that allows sellers to create profiles, list their items, manage inventory, and handle transactions securely. Buyers can browse, purchase, and review products within the app.</p>
    </div>
    </main>
    <br>
    <br>
    <br>

    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   